.header-container {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem; // Adjust based on your layout
}


.app_bio {
  padding: 0.5rem 2rem;
}

h2 {
  margin-top: 10rem;
  padding: 2rem;
}
